@font-face {
    font-family: 'Brandon Text Regular';
    src: url('../fonts/BrandonTextRegular.otf') format('otf');
}

* {
    box-sizing: border-box;
}

body {
    padding-top: 5rem;
    font-family: 'Brandon Text Regular', sans-serif;
}

.bg-light {
    background-color: #2196F3 !important;
}

.btn-outline-secondary:hover {
    background-color: #2196F3;
    border-color: #2196F3;
}