@font-face {
    font-family: 'Brandon Text Regular';
    src: url("../fonts/BrandonTextRegular.otf") format('otf');
}

* {
    box-sizing: border-box;
}

body {
    padding-top: 5rem;
    font-family: 'Brandon Text Regular', sans-serif;
}